*

!.gitignore

!01_fig1_umap/
!01_fig1_umap/Snakefile
!01_fig1_umap/scripts/
!01_fig1_umap/scripts/**

01_fig1_umap/scripts/*.bak*

!02_vulnerality/
!02_vulnerality/Snakefile
!02_vulnerality/scripts/
!02_vulnerality/scripts/**

02_vulnerality/scripts/*.bak*

!03_stability_test/
!03_stability_test/Snakefile
!03_stability_test/scripts/
!03_stability_test/scripts/**

03_stability_test/scripts/*.bak*
03_stability_test/results/
